<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <%= link_to t('.admin_link'), admin_root_path, class: 'mr-auto' %>

  <span class="navbar-text">
    <%= t('.welcome') %>, <b><%= current_user.full_name %></b> <%= t('.guru') %> |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>
