<footer class="page-footer">
  <div class="container">
    <div class="col-xs-3">
      ©<%= current_year %>
    </div>
    <div class="col-xs-9">

      <p><%= t('.author') %>: <%= github_url(:orevenat)%></p>
      <p><%= t('.project') %>: <%= github_url(:orevenat, :TestGuru)%></p>
      <a href="https://thinknetica.com" target="_blank"><%= t('.thinknetica') %></a>
    </div>
  </div>
</footer>
