<nav class="nav">
  <ul>
    <li>
      <%= link_to 'TestGuru', root_path %>
    </li>
    <% if logged_in? %>
      <li>
        <p>
          Welcome, <b><%= current_user.full_name %></b> Guru.
          <%= link_to 'Click to logout', logout_path, method: :delete %>
        </p>
      </li>
    <% else %>
      <li>
        <%= link_to 'Register', signup_path %> /
        <%= link_to 'Login', login_path %>
      </li>
    <% end %>
  </ul>
</nav>
