<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <% if current_user.admin? %>
    <%= link_to t('.admin_link'), admin_root_path, class: 'mr-auto' %>
  <% end %>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('.welcome') %>, <b><%= current_user.full_name %></b> <%= t('.guru') %> |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('.register'), new_user_registration_path %> |
      <%= link_to t('.login'), new_user_session_path %>
    <% end %>
  </span>
</nav>
