<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :question_body, rows: 7, cols: 60, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
