<h1>Test: <%= @test.title %></h1>
<h2>Question list</h2>

<%= link_to 'New question', new_test_question_path(@test.id) %>
Questions count: <%= @test.questions.count %>
<ul>
  <% @test.questions.each do |question| %>
    <li>
      <tr>
        <td><%= question.body %></td>
        <td><%= link_to 'Show', question_path(question) %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Delete', question_path(question),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </li>
  <% end %>
<ul>
