<h1>Test: <%= @test.title %></h1>

<p>Level: <%= @test.level %></p>
<p>Category: <%= @test.category.title %></p>
<p>Author: <%= @test.author.full_name %></p>
<p>Questions count: <%= @test.questions.count %></p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'List', tests_path %>
<br><br>
<%= link_to 'New question', new_test_question_path(@test.id) %>
<h2>Question list</h2>
<table>
  <tr>
    <th>Question</th>
    <th colspan="3">Actions</th>
  </tr>
  <%= render @questions %>

</table>

